@model List<Article>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Makale Listesi</title>
    <link href="~/css/Article.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <!-- Sidebar -->
        <aside class="sidebar">
            <h2>Kategoriler</h2>
            <ul>
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">profilim</a></li>
                <li><a href="#">yazılarım</a></li>
                <li><a href="#">yorumlarım</a></li>
                <li><a href="#">siteye git</a></li>
                <li><a href="#">çıkış yap </a></li>
            </ul>
        </aside>

        <!-- Main Content -->
        <main class="content">
            <h1>Kullanıcı Makaleleri</h1>
            <div class="article-list">
                @foreach (var item in Model)
                {
                    <div class="article">
                        <h3>@item.Title</h3>
                        <p><strong>Tarih:</strong> @item.CreatedDate.ToString("dd-MMM-yyyy")</p>
                        <p><a href="#" class="btn btn-primary">yazıyı düzenle</a></p>
                    </div>
                    
                }
                
                
            </div>
        </main>
    </div>
</body>
</html>