@model List<Category>
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <table class="tabe table-bordered">
        <tr>
            <th>#</th>
            <th>kategori adı</th>
            <th>sil</th>
            <th>güncelle</th>
            <th>blog listesi</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryId</td>
                <td>@item.CategoryName</td>
                <td a href="/Category/DeleteCategory @item.CategoryId" class="btn btn-danger">sil</td>
                <td a href="/Category/UpdateCategory @item.CategoryId" class="btn btn-danger">güncelle</td>
                <td a href="#" class="btn btn-danger">blog listesi</td>
            </tr>
        }
    </table>
    <a href="/Category/CreateCategory/" class="btn btn-primary"> yeni kategori girişi</a>
</div>
