@model Article

<div>
    <h2>eklenen son blog</h2>
    <img src="@Model.CoverImageUrl" style="width:100px; height:50px" />
    @Model.Title
    <a href="#" class="btn btn-warning">bu makaleyi okuyun</a>

</div>