@model List<Article>
<div class="blog-list">
    <h2>Blog Listesi</h2>
    @foreach (var item in Model)
    {
        <div class="blog-item">
            <img src="@item.CoverImageUrl" alt="Blog 1 Kapak">
            <a href="https://example.com/blog1" target="_blank">Blog Başlığı 1</a>
            <p>@item.Description.Substring(0, 125)...<a href="" class="btn btn-primary">Devamını oku</a></p>
        </div>
        
    }
</div>
